* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: lightseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 400px;
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}

.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container h3 {
  color: rgb(90, 24, 24);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 10px;
  font-size: 25px;
}

.container i {
  color: rgb(234, 4, 4);
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: transform ease 0.5s;
}
